GithubSearch.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
GithubSearch.xcodeproj/project.xcworkspace/xcuserdata/asimalikhan.xcuserdatad/IDEFindNavigatorScopes.plist
GithubSearch.xcodeproj/xcuserdata/asimalikhan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
